In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
crash_df = pd.read_csv('north-carolina-bicycle-crash-data_1.csv', 
                       sep=';', 
                       usecols=[2, 8, 17, 22, 29, 36, 42, 44, 59])
crash_df.head()

,bikerace,bikesex,bikeagegrp,rdconditio,drvrsex,crashmonth,crashday,bikeage,weather
0,Hispanic,Male,20-24,Wet,Female,July,Wednesday,22,Cloudy
1,Black,Male,30-39,Dry,Male,August,Tuesday,31,Clear
2,White,Male,60-69,Dry,Female,September,Monday,66,Clear
3,White,Female,20-24,Dry,Unknown,August,Friday,20,Clear
4,Black,Male,11-15,Dry,Female,August,Tuesday,11,Clear

In [5]:
crash_df.describe()

,bikerace,bikesex,bikeagegrp,rdconditio,drvrsex,crashmonth,crashday,bikeage,weather
count,7467,7467,7467,7467,7467,7467,7467,7467,7467
unique,7,3,12,8,3,12,7,72,6
top,White,Male,40-49,Dry,Male,August,Friday,20,Clear
freq,4085,6280,1144,6853,3541,835,1179,232,6181